spring:
  application:
    name: Orders-Api
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      acks: all
      properties:
        enable.idempotence: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
