spring:
  application:
    name: Orders-Api
  jackson:
    serialization:
      write-dates-as-timestamps: false
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      acks: all
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        retries: 10

app:
  kafka:
    topics:
      order-created: orders.created

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
