spring:
  application:
    name: Orders-Worker
  datasource:
    url: jdbc:mysql://localhost:3306/orders?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8081

  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: orders-worker
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "br.tec.itlabs.orders.worker.dto"
        spring.json.value.default.type: "br.tec.itlabs.orders.worker.dto.OrderCreatedEvent"

app:
  kafka:
    topics:
      order-created: orders.created

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
